.headerContainer {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    padding: 32px 0px;
    z-index: 1;
    background-color: #FAFAFA;
    
    img {
        cursor: pointer;
    }

    main {
    width: 100%;
    display: flex;
    gap: 12px;
    max-width: 1120px;
    justify-content: space-between;

    .rightSectionHeader {
        display: flex;
        gap: 12px;
        .locationSection {
            color: #4B2995;
            display: flex;
            background: #EBE5F9;
            border-radius: 6px;
            padding: 8px;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            gap: 4px;
            font-weight: 400;

            .locationIcon {
                width: 22px;
                height: 22px;
            }
        }
        .cartSection {
            display: flex;
            .cartIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                width:22px;
                height:22px;
                background-color: #F1E9C9;
                color: #C47F17;
                border-radius: 6px;
                padding: 8px;
                gap: 4px;
                cursor: pointer;
            }
            .itensNumberOnCart, .itensNumberOnCartDisable {
                display: flex;
                position: relative;
                border-radius: 1000px;
                right: 12px;
                bottom: 8px;
                width: 20px;
                height: 20px;
                background: #C47F17;
                color: #FFFFFF;
                font-weight: 700;
                font-size: 12px;
                align-items: center;
                justify-content: center;
                letter-spacing: -0.06em;
                cursor: pointer;
                transition: 350ms;
            }
            .itensNumberOnCartDisable {
                visibility: hidden;
            }
        }
    }
    }
}