.mainWrapper {
    background-image: url('../../assets/Background\ \(1\).png');
    height: 100%;
    background-repeat: repeat-x;
    max-height: 544px;
    width: 100%;
    display: flex;
    justify-content: center;

    .mainContent {
        width: 100%;
        max-width: 1120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;

        .titlesSections {
            display: flex;
            flex-direction: column;
            max-width: 564px;
            gap: 20px;
            .principalContent {
                font-weight: 800;
                font-size: 48px;
                line-height: 130%;
            }
            .footerContent {
                font-weight: 400;
                font-size: 20px;
                font-family: 'Roboto';
                font-style: normal;
            }

            footer {
                display: flex;
                flex-wrap: wrap;
                max-width: 567px;
                column-gap: 38px;
                align-items: center;
                justify-content: center;
                p {
                    text-align: start;
                }
            }
        }
    }
}