.mainWrapper {
    background-image: url('../../assets/Background\ \(1\).png');
    height: 100%;
    background-repeat: repeat-x;
    max-height: 544px;
    width: 100%;
    display: flex;
    justify-content: center;

    .mainContent {
        width: 100%;
        max-width: 1120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;

        .titlesSections {
            display: flex;
            flex-direction: column;
            max-width: 588px;
            gap: 20px;
            
            .headerTitles {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .principalContent {
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 130%;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
                .footerContent {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 130%;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }

            footer {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                row-gap: 20px;
                margin-top: 66px;
                span {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  width: 50%;
                  font-size: 16px;
                  font-weight: 400;
                  gap: 12px;
                  line-height: 21px;
                    .iconsShopCart, .packageIcon, .stopWatchIcon, .coffeeIcon {
                        width: 24px;
                        height: 24px;
                        padding: 8px;
                        border-radius: 1000px;
                        color: #FAFAFA;
                    }
                    .iconsShopCart {
                        background-color: #C47F17;
                    }
                    .packageIcon{
                       background-color: #574F4D;
                    }
                    .stopWatchIcon {
                        background-color: #DBAC2C;
                    }
                    .coffeeIcon {
                        background-color: #8047F8;
                    }
                }
            }
        }
    }
}